name: Build Testing Snap

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - runner: ubuntu-latest
            arch: x86_64
          - runner: ubuntu-24.04-arm
            arch: arm64
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build snap
        uses: snapcore/action-build@v1
        id: build-snap

      - name: Upload snap artifact
        uses: actions/upload-artifact@v4
        with:
          name: lp-to-jira-snap-${{ matrix.arch }}
          path: ${{ steps.build-snap.outputs.snap }}
          retention-days: 30
